  #grid {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: row;
  }
  
  .cell {
    width: 30px;
    height: 30px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    border: 1px solid black;
  }

.dead {
    background-color: gray;
}

.active {
  background-color: white;
}
